@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div class="card shadow-lg">
                <div class="card-header bg-success bg-gradient text-light text-center">
                    <h2 class="text-light">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.OldPassword" class="form-control form-input-style" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                        <label asp-for="Input.OldPassword" class="form-label text-success"></label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.NewPassword" class="form-control form-input-style" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                        <label asp-for="Input.NewPassword" class="form-label text-success"></label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-input-style" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                        <label asp-for="Input.ConfirmPassword" class="form-label text-success"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg bg-gradient-right btn-hover">Update password</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                </div>
            </div>
        </form>
        <partial name="_StatusMessage" for="StatusMessage" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
