@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="text-dark mt-5 pt-2">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6 text-dark">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <div class="d-flex gap-2">
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn bg-gradient-right btn-hover" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn text-white shadow-none" style="background-color:#DC143C">Delete</a>
        </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
