@model IEnumerable<Category>

<div class="row justify-content-center">
    <div class="col-sm-8 py-4">
        <div class="d-flex justify-content-between">
            <div>
                <input class="input-outline-remove border-dark rounded ps-2 h-100" placeholder="Search by Category Name" id="categorySearchInput" />

            </div>
            <div>
                <a asp-controller="Category" asp-action="Create" class="btn bg-gradient-right btn-hover"><i class="bi bi-plus-circle"></i> Create Category</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8 overflow-auto scrollbar-color" style="height: 500px;">
        <table class="table caption-top table-bordered table-striped table-light border-dark" style="table-layout:fixed">
            <caption><h2 class="text-success fw-bold">Category List</h2></caption>
            <thead>
                <tr>
                    <th style="width:50px">No.</th>
                    <th style="width:135px">Category Name</th>
                    <th style="width:135px">Display Order</th>
                    <th style="width:135px"></th>
                </tr>
            </thead>
            <tbody id="categoryTbody">
                <partial name="_CategoryTableBody" />
            </tbody>
        </table>
    </div>
</div>
