@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="email-form" method="post" class="mb-4">
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="card shadow-lg">
                <div class="card-header bg-success bg-gradient text-white text-center">
                    <h2 class="text-white">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="form-floating mb-3 input-group">
                            <input asp-for="Email" class="form-control form-input-style text-dark" placeholder="Please enter your email." disabled />
                            <div class="input-group-append">
                                <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                            </div>
                            <label asp-for="Email" class="form-label text-success"></label>
                        </div>
                    }
                    else
                    {
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control form-input-style text-dark" style="background-color:aliceblue !important" placeholder="Please enter your email." disabled />
                            <label asp-for="Email" class="form-label text-success"></label>
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn text-success text-decoration-underline shadow-none border-0 link-hover">Send verification email</button>
                        </div>
                    }
                    <div class="form-floating mb-3">
                        <input asp-for="Input.NewEmail" class="form-control form-input-style" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                        <label asp-for="Input.NewEmail" class="form-label text-success"></label>
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg bg-gradient-right btn-hover">Change email</button>
@*                     <div asp-validation-summary="All" class="text-danger" role="alert"></div>
 *@                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
