@model ProductViewModel

@if (Model.Product?.ProductImageList != null)
{
    foreach (var image in Model.Product.ProductImageList)
    {
        <div>
            <a onclick="DeleteImage(@image.ImageID)">
                <i class="bi bi-x-circle btn float-end p-0 text-danger link-hover border-0"></i>
            </a>
            <img src="@image.ImageURL" width="100%" class="bg-white rounded border-dark-subtle border" style="height:150px;object-fit:contain" />
        </div>
    }
}

