@model IEnumerable<Product>

<div class="row justify-content-center">
    <div class="col-sm-9 py-4">
        <div class="d-flex justify-content-between">
            <div>
                <input class="input-outline-remove border-dark rounded ps-2 h-100" placeholder="Search by Category" id="searchInput" />
            </div>
            <div>
                <a asp-controller="Product" asp-action="CreateUpdate" class="btn bg-gradient-right btn-hover"><i class="bi bi-plus-circle"></i> Create Product</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 overflow-x-auto scrollbar-color" style="height: 500px;">
        <table class="table caption-top table-bordered table-striped border-dark table-light" style="table-layout:fixed">
            <caption><h2 class="text-success fw-bold">Product List</h2></caption>
            <thead>
                <tr>
                    <th style="width:50px">No.</th>
                    <th style="width:135px">Product Title</th>
                    <th style="width:135px">Description</th>
                    <th style="width:135px">SKU</th>
                    <th style="width:135px">Starting Price</th>
                    <th style="width:135px">Category</th>
                    <th style="width:135px"></th>
                </tr>
            </thead>
            <tbody id="productTbody">
                <partial name="_ProductTableBody" />
            </tbody>
        </table>
    </div>
</div>
